# Node / package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
.pnpm-debug.log*
.yarn/
.npm/
.eslintcache

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
*.log
.expo-home/
.react-native/

# Android
android/.gradle/
android/local.properties
android/build/
android/app/build/
*.keystore
*.jks
android/app/debug.keystore
android/.cxx/
android/captures/

# iOS (if present)
ios/build/
ios/Pods/

# VS Code / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env & secrets
.env
.env.*
eas.json.local